@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/*------------------sidemenu--------------------*/
#sidemenu {
  padding: 12px;
}
.search {
  display: flex;
  border-radius: 10px;
  /*background-color: aliceblue;*/
  overflow: hidden;
}
.search_input {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 2px;
}

/* Project list */
.project_list {
  height: 12rem;
  overflow-y: scroll;
}
.project_list li {
  margin: 8px 0;
}
.project_list a {
  color: blue;
  text-decoration: none;
}
.project_list::-webkit-scrollbar {
  width: 8px;
}
.project_list::-webkit-scrollbar-track {
  background-color: aliceblue;
}
.project_list::-webkit-scrollbar-thumb {
  background-color: deepskyblue;
}
/* Hamburger Menu*/
#hamburger {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gainsboro;
  background-color: transparent;
}

body {
  background-image: url("/pngtree-office-desktop.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
}
#root {
  margin-right: 45%;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1201px) {
  body {
    font-size: 18px;
  }
}
