body {
  font-family: "Arial", sans-serif;
  background-image: url("/pngtree-office-desktop.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
#root {
  margin-right: 45%;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1201px) {
  body {
    font-size: 18px;
  }
}
